body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
}

/* Styling kategori-makanan */
.kategori-makanan {
    background-color: #E2DD6C;
    padding: 10px 0; /* Full width background */
    width: 100vw;
    position: relative;
}

.kategori-header {
    display: flex; /* Menambahkan flexbox untuk tata letak */
    align-items: center; /* Vertikal align item */
    justify-content: center; /* Horizontal center item */
}

.kategori-makanan h2 {
    color: #295A3F;
    font-size: 40px;
    font-weight: bold;
    margin: 35px 0; /* Jarak atas dan bawah */
    text-align: center; /* Judul di tengah */
}

/* Styling untuk tombol Kembali */
.btn-kembali {
    padding: 10px 20px;
    background-color: #E2DD6C;
    font-weight: bold;
    color: #295A3F;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

/* Hover effect untuk tombol Kembali */
.btn-kembali:hover {
    background-color: #E2DD6C;
    color: black;
}

.hidangan-gambar {
    width: 300px;  /* Mengatur lebar gambar */
    height: 300px; /* Mengatur tinggi gambar */
    position: relative;
    margin-left: 60px; /* Jarak 60px dari kiri */
    margin-bottom: 80px; /* Jarak 80px dari bawah */
}


/* Styling footer */
.footer {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color: white;
    position: relative;
    background-color: #333;
}

.footer .logo-instansi {
    margin: 10px;
    width: 100px;
    height: 100px;
}

.footer .alamat {
    margin-left: 40px;
    display: flex;
    flex-direction: column;
}

.footer .alamat p {
    margin: 5px 0;
}

.footer .alamat img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.footer .tautan {
    margin-left: 90px;
    text-align: left;
}

.footer .tautan p {
    margin: 5px 0;
}

.footer .tautan a {
    color: white;
    text-decoration: none;
}

.sosmed {
    margin: 5px;
    text-align: right;
    right: 20px;
    bottom: 80px;
    position: absolute;
}

.sosmed p {
    font-weight: bold;
}

.sosmed a {
    display: inline-block;
    margin-right: 10px; /* Jarak antar logo */
}

.logo-sosmed {
    width: 30px; /* Ukuran logo IG dan TikTok */
    height: 30px;
}

.tautan-content {
    display: flex;
}

@media (max-width: 768px) {
    /* Footer */
    .footer {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer .logo-instansi {
        width: 80px;
        height: 80px;
    }

    .footer .alamat,
    .footer .tautan,
    .footer .sosmed {
        margin-left: 0;
    }

    .footer .alamat,
    .footer .tautan {
        margin-bottom: 20px;
    }

    .sosmed {
        right: auto;
        bottom: auto;
        position: static;
    }
}
