body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
}

/* Styling kategori-makanan */
.kategori-makanan {
    background-color: #E2DD6C;
    padding: 10px 0;
    /* Full width background */
    width: 100vw;
    position: relative;
}

.kategori-makanan h2 {
    color: #295A3F;
    font-size: 40px;
    font-weight: bold;
    margin: 10px 0;
    /* Jarak atas dan bawah*/
    text-align: center;
    /* Judul di tengah */
    padding-top: 70px;
    padding-bottom: 30px;
}

.makanan-container {
    display: flex;
    justify-content: center;
    /* Elemen makanan rata tengah */
    flex-wrap: wrap;
    padding: 0 15px;
}

.makanan {
    width: 30%;
    margin: 15px;
    box-sizing: border-box;
    text-align: center;
    /* Text pada makanan juga rata tengah */
}

.makanan img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    /* Agar gambar tidak terdistorsi */
    border: 5px solid #295A3F; 
    border-radius: 10px; 
}

.makanan .judul-makanan {
    color: #295A3F;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 1px;
    font-size: 30px;
}

.makanan .deskripsi-makanan {
    color: #295A3F;
    margin-bottom: 15px;
    font-size: 25px;
}

.makanan button {
    background-color: #295A3F;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-bottom: 30px;
}

.makanan button:hover {
    background-color: #3b7a53;
}
/* Styling untuk tombol Kembali */
.btn-kembali {
    background-color: #E2DD6C; /* Warna latar belakang tombol */
    color: #295A3F; /* Warna teks tombol */
    padding: 10px 15px; /* Padding di dalam tombol */
    text-decoration: none; /* Menghilangkan garis bawah pada link */
    border: 0px;
    display: inline-block; /* Menyusun tombol dalam satu baris */
    margin-bottom: 20px; /* Jarak bawah untuk memisahkan dari elemen di bawahnya */
    position: absolute; /* Menggunakan posisi absolut untuk menempatkan tombol */
    left: 20px; /* Jarak dari kiri */
    top: 70px; /* Jarak dari atas */
    font-weight: bold; /* Menebalkan teks tombol */
    transition: background-color 0.3s; /* Efek transisi saat hover */
}
/* Hover effect untuk tombol Kembali */
.btn-kembali:hover {
    background-color: #E2DD6C;
    color: black;
}



@media (max-width: 768px) {
    /* Kategori Makanan */
    .makanan {
        width: 45%;
        /* Mengubah ukuran menjadi lebih kecil agar muat 2 elemen per baris */
        margin: 10px;
    }

    .kategori-header{
        padding-top: 10%;
    }
    .makanan img {
        width: 200px;
        height: 200px;

    }
    
    .btn-kembali {
        top: 70px; /* Mengatur posisi tombol untuk handphone */
        left: 10px; /* Mengatur posisi tombol untuk handphone */
}
}
