body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
}

/* Styling kategori-makanan */
.kategori-makanan {
    background-color: #E2DD6C;
    padding: 10px 0;
    /* Full width background */
    width: 100vw;
    position: relative;
}

.kategori-makanan h2 {
    color: #295A3F;
    font-size: 40px;
    font-weight: bold;
    margin: 35px 0;
    /* Jarak atas dan bawah*/
    text-align: center;
    /* Judul di tengah */
}

.makanan-container {
    display: flex;
    justify-content: center;
    /* Elemen makanan rata tengah */
    flex-wrap: wrap;
    padding: 0 15px;
}

.makanan {
    width: 30%;
    margin: 15px;
    box-sizing: border-box;
    text-align: center;
    /* Text pada makanan juga rata tengah */
}

.makanan img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    /* Agar gambar tidak terdistorsi */
}

.makanan .judul-makanan {
    color: #295A3F;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 1px;
    font-size: 30px;
}

.makanan .deskripsi-makanan {
    color: #295A3F;
    margin-bottom: 15px;
    font-size: 25px;
}

.makanan button {
    background-color: #295A3F;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-bottom: 30px;
}

.makanan button:hover {
    background-color: #3b7a53;
}
/* Styling untuk tombol Kembali */
.btn-kembali {
    padding: 10px 20px;
    background-color: #E2DD6C;
    font-weight: bold;
    color: #295A3F;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

/* Hover effect untuk tombol Kembali */
.btn-kembali:hover {
    background-color: #E2DD6C;
    color: black;
}



@media (max-width: 768px) {
    /* Kategori Makanan */
    .makanan {
        width: 45%;
        /* Mengubah ukuran menjadi lebih kecil agar muat 2 elemen per baris */
        margin: 10px;
    }

    .makanan img {
        width: 100%;
        /* Menyesuaikan ukuran gambar dengan lebar elemen */
        height: auto;
        /* Agar gambar tetap proporsional */
    }
    
}
