body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
}

footer {
    background-color: #333;
    color: white;
}

/* Styling untuk kategori-makanan */
.kategori-makanan {
    background-color: #E2DD6C;
    padding: 10px 0;
    /* Full width background */
    width: 100vw;
    position: relative;
}

.kategori-makanan h2 {
    color: #295A3F;
    font-size: 40px;
    font-weight: bold;
    margin: 35px 0;
    /* Jarak atas dan bawah*/
    text-align: center;
    /* Judul di tengah */
}

.makanan-container {
    display: flex;
    justify-content: center;
    /* Elemen makanan rata tengah */
    flex-wrap: wrap;
    padding: 0 15px;
}

.makanan {
    width: 30%;
    margin: 15px;
    box-sizing: border-box;
    text-align: center;
    /* Text pada makanan juga rata tengah */
}

.makanan img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    /* Agar gambar tidak terdistorsi */
}

.makanan .judul-makanan {
    color: #295A3F;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 1px;
    font-size: 30px;
}

.makanan .deskripsi-makanan {
    color: #295A3F;
    margin-bottom: 15px;
    font-size: 25px;
}

.makanan button {
    background-color: #295A3F;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-bottom: 30px;
}

.makanan button:hover {
    background-color: #3b7a53;
}

/* Styling untuk kategori-wisata */
.kategori-wisata {
    background-color: #295A3F;
    padding: 10px 0;
    /* Full width background */
    width: 100vw;
    position: relative;
}

.kategori-wisata h2 {
    color: #E2DD6C;
    font-size: 40px;
    font-weight: bold;
    margin: 35px 0;
    /* Jarak atas dan bawah */
    text-align: center;
    /* Judul di tengah */
}

.wisata-container {
    display: flex;
    justify-content: center;
    /* Elemen wisata rata tengah */
    flex-wrap: wrap;
    padding: 0 15px;
}

.wisata {
    width: 30%;
    margin: 15px;
    box-sizing: border-box;
    text-align: center;
    /* Text pada wisata juga rata tengah */
}

.wisata img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    /* Agar gambar tidak terdistorsi */
}

.wisata .judul-wisata {
    color: #E2DD6C;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 1px;
    font-size: 30px;
}

.wisata .deskripsi-wisata {
    color: #E2DD6C;
    margin-bottom: 15px;
    font-size: 25px;
}

.wisata button {
    background-color: #E2DD6C;
    color: #295A3F;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-bottom: 30px;
}

.wisata button:hover {
    background-color: #d4ca5b;
}

/* Styling untuk kegiatan */
.kegiatan {
    background-color: #A0D0B3;
    padding: 10px 0;
    width: 100vw;
    position: relative;
}

.kegiatan h2 {
    color: #353C14;
    font-size: 40px;
    font-weight: bold;
    margin: 35px 0;
    text-align: center;
}

.kegiatan-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 15px;
}

.kegiatan-mendatang {
    width: 60%;
    margin: 15px;
    box-sizing: border-box;
    text-align: center;
}

.kegiatan-mendatang table {
    width: 100%;
    border-collapse: collapse;
}

/* Revisi: Hanya menampilkan border bawah */
.kegiatan-mendatang table td {
    padding: 10px;
    color: #353C14;
    border-bottom: 3px solid #353C14;
    /* Border bawah dengan ketebalan 3px */
}

.kegiatan-mendatang table td:first-child {
    width: 15%;
    font-weight: bold;
}

.kegiatan-mendatang .cek-kegiatan-button {
    background-color: #353C14;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
}

.kegiatan-mendatang .cek-kegiatan-button:hover {
    background-color: #2c3311;
}

.kegiatan-mendatang table tr td:last-child {
    text-align: center;
}

/* Styling untuk kegiatan lalu */
.kegiatan-container {
    display: flex;
    justify-content: center;
    /* Menjadikan elemen-elemen di dalam container rata tengah */
    flex-wrap: wrap;
    padding: 0 15px;
}

.kegiatan-lalu {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* Membuat konten kegiatan-lalu berada di tengah */
    width: 80%;
    /* Lebar elemen */
}

.kegiatan-lalu img {
    width: 300px;
    height: 200px;
    padding-bottom: 30px;
}

.deskripsi-kegiatan-lalu {
    margin-top: 5px;
    margin-left: 20px;
    color: #353C14;
    font-size: 16px;
}

.kegiatan-lalu .judul-kegiatan-lalu {
    margin-left: 20px;
    /* Jarak antara gambar dan judul */
    font-size: 20px;
    color: #353C14;
}

.kegiatan-lalu button {
    margin-left: 20px;
    /* Jarak antara judul dan button */
    background-color: #353C14;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.kegiatan-lalu button:hover {
    background-color: #2c3311;
}

@media (max-width: 768px) {

    /* Kategori Makanan */
    .makanan {
        width: 45%;
        /* Mengubah ukuran menjadi lebih kecil agar muat 2 elemen per baris */
        margin: 10px;
    }

    .makanan img {
        width: 100%;
        /* Menyesuaikan ukuran gambar dengan lebar elemen */
        height: auto;
        /* Agar gambar tetap proporsional */
    }

    /* Kategori Wisata */
    .wisata {
        width: 45%;
        /* Mengubah ukuran menjadi lebih kecil agar muat 2 elemen per baris */
        margin: 10px;
    }

    .wisata img {
        width: 100%;
        /* Menyesuaikan ukuran gambar dengan lebar elemen */
        height: auto;
        /* Agar gambar tetap proporsional */
    }

    .kegiatan {
        width: 100%;
        height: auto;
    }

   
}