body {
    height: 100vh;
    background-image: url('/images/login/bambu.jpg'); /* Gambar latar belakang */
    background-size: cover; /* Memastikan gambar menutupi seluruh latar belakang */
    background-position: center; /* Memusatkan gambar */
    background-repeat: no-repeat; /* Mencegah gambar mengulang */
    background-attachment: fixed; /* Memastikan latar belakang tetap saat menggulir */
    font-family: Arial, sans-serif;
    margin: 0; /* Pastikan tidak ada margin pada body */
    position: relative; /* Mengatur posisi relative untuk kontainer overlay */
}

.container-fluid {
    height: 100%; /* Menjamin kontainer mengisi tinggi penuh */
    display: flex;
    align-items: center; /* Memusatkan secara vertikal */
    justify-content: center; /* Memusatkan secara horizontal */
}

.login-container {
    max-width: 600px;
    background-color: white;
    padding: 40px; /* Padding untuk ruang di dalam kontainer */
    border-radius: 10px; /* Sudut melengkung */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3); /* Bayangan untuk efek kedalaman */
    display: flex;
    flex-direction: column; /* Mengatur elemen di dalam kontainer secara vertikal */
    align-items: center; /* Memusatkan konten secara horizontal */
    text-align: center; /* Memastikan teks di dalamnya berada di tengah */
}

.form-group {
    padding-bottom: 15px;
    font-size: 20px;
}

.custom-checkbox {
    width: 20px !important;
    height: 20px !important;
    border: 2px solid #295A3F !important;
    appearance: none !important;
    background-color: white !important;
    display: inline-block !important;
}

.form-check-input {
    margin: 0; /* Remove any default margin */
    display: flex;
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally */
}

.form-check-label {
    margin-bottom: 0; /* Remove any default margin */
    line-height: 1; /* Align label vertically with the checkbox */
}

.login-title {
    font-size: 40px;
    font-weight: bold;
    color: #295A3F;
    margin-bottom: 40px;
}

.inputLogin input {
    font-size: 20px;
    border: 6px solid #295A3F;
    border-radius: 10px;
    color: #295A3F;
    background-color: white;
    width: 100%; /* Memastikan input mengisi lebar kontainer */
}

.inputLogin input::placeholder {
    color: #295A3F;
}

.inputLogin button {
    font-size: 24px;
    font-weight: bold;
    color: white;
    background-color: #295A3F;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 100%; 
}

.inputLogin button:hover {
    background-color: #1e4633;
}

.signup-container {
    padding-top: 10px;
    display: flex;
    flex-direction: column; /* Mengatur elemen dalam kolom untuk memusatkan */
    align-items: center;
    margin-top: 5px; /* Memisahkan dari form login */
}

.signup-container p {
    font-size: 20px;
    color: black;
    margin: 0; /* Menghapus margin default */
}

.signup-container button {
    font-size: 24px;
    color: #295A3F;
    background: none;
    border: none;
    cursor: pointer;
    text-decoration: underline;
    font-weight: bold;
}

.signup-container button:hover {
    color: #1e4633;
}

/* Media Queries for mobile responsiveness */
@media (max-width: 768px) {
    .login-container {
        padding: 20px;
    }

    .login-title {
        font-size: 30px;
        margin: auto;
    }

    .inputLogin input,
    .inputLogin button {
        font-size: 20px;
        width: 100%; /* Memastikan elemen mengisi lebar kontainer pada perangkat kecil */
    }

    .signup-container p,
    .signup-container button {
        font-size: 15px;
    }
}
