body {
    padding-top: 80px;
    height: 100vh;
    background-image: url('/images/login/bambu.jpg'); /* Gambar latar belakang */
    background-size: cover; /* Memastikan gambar menutupi seluruh latar belakang */
    background-position: center; /* Memusatkan gambar */
    font-family: Arial, sans-serif;
    background-repeat: no-repeat; /* Mencegah gambar mengulang */
    background-attachment: fixed; /* Memastikan latar belakang tetap saat menggulir */
    font-family: Arial, sans-serif;
    margin: 0; /* Pastikan tidak ada margin pada body */
    position: relative; /* Mengatur posisi relative untuk kontainer overlay */
}

.login-container {
    max-width: 600px;
    background-color: rgb(255, 255, 255); 
    padding: 40px; /* Padding untuk ruang di dalam kontainer */
    border-radius: 10px; /* Sudut melengkung */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3); /* Bayangan untuk efek kedalaman */
    display: flex;
    flex-direction: column; /* Mengatur elemen di dalam kontainer secara vertikal */
    align-items: center; /* Memusatkan konten secara horizontal */
    text-align: center; /* Memastikan teks di dalamnya berada di tengah */
}

.login-title {
    font-size: 40px;
    font-weight: bold;
    color: #295A3F;
    margin-bottom: 40px;
}

.inputRegister input,.gender-select {
    font-size: 15px;
    margin-bottom: 10px;
    border: 6px solid #295A3F;
    border-radius: 10px;
    color: #295A3F;
    background-color: white;
    width: 100%; /* Memastikan input mengisi lebar kontainer */
}

.inputRegister input::placeholder {
    color: #295A3F;
}

.inputRegister button {
    font-size: 24px;
    font-weight: bold;
    color: white;
    background-color: #295A3F;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 100%; /* Memastikan tombol mengisi lebar kontainer */
}

.inputRegister button:hover {
    background-color: #1e4633;
}

.inputRegister label{
    display: flex;
    flex-direction: column;  
    justify-content: center;  
}

.signup-container {
    display: flex;
    padding-top: 10px;
    flex-direction: column; /* Mengatur elemen dalam kolom untuk memusatkan */
    align-items: center;
    margin-top: 20px; 
}

.signup-container p {
    font-size: 24px;
    color: black;
    margin: 0; /* Menghapus margin default */
}

.signup-container button {
    font-size: 24px;
    color: #295A3F;
    background: none;
    border: none;
    cursor: pointer;
    text-decoration: underline;
    font-weight: bold;
}

.signup-container button:hover {
    color: #1e4633;
}

/* Media Queries for mobile responsiveness */
@media (max-width: 768px) {
    .login-container {
        padding: 20px;
    }

    .login-title {
        font-size: 30px;
        margin: auto;
    }

    .inputRegister input,
    .inputRegister button {
        font-size: 12px;
        width: 100%; /* Memastikan elemen mengisi lebar kontainer pada perangkat kecil */
    }

    .signup-container p,
    .signup-container button {
        font-size: 15px;
    }
}
