/* Background untuk seluruh halaman */
body {
    background-color: #FFFBE6;
    font-family: Arial, sans-serif;
}

/* Container dan styling judul */
.container {
    width: 90%;
    margin: 0 auto;
}

/* Tabel Styling */
table {
    width: 100%;
    border-collapse: collapse;
}

/* Tombol "Perbarui" dan "Hapus" */
.update-btn,
.delete-btn {
    border-radius: 5px;
    cursor: pointer;
}

/* Styling khusus untuk header tabel */
.thead-dark th {
    background-color: #557C56; /* Warna latar belakang judul kolom */
    color: #FFFBE6;            /* Warna teks judul kolom */
    font-weight: bold;
}
