body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
}

footer {
    background-color: #333;
    color: white;
}

/* Styling untuk info1 */
.info1 {
    background-color: #449E47;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

.text-info1 {
    color: white;
    text-align: left;
    padding: 20px 10px;
    margin-left: 25px;
    margin-right: 25px;
}

.gambar-info1 {
    width: 40%;
    height: 100%;
    margin-left: 20px;
    object-fit: cover;
}

/* Styling untuk info2 */
.info2 {
    background-color: #295A3F;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    /* Hilangkan padding pada info2 */
}

.gambar-info2 {
    width: 900px;
    height: 400px;
    object-fit: cover;
    margin: 0;
    /* Hilangkan jarak atas dan bawah */
}

/* Styling untuk info3 */
.info3 {
    background-color: #A0D0B3;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    flex-direction: row-reverse;
    /* Membalik posisi gambar dan teks */
}

.text-info3 {
    color: #295A3F;
    text-align: right;
    padding: 20px 10px;
    margin-left: 25px;
    margin-right: 25px;
}

.gambar-info3 {
    width: 40%;
    height: 100%;
    margin-right: 20px;
    object-fit: cover;
}

/* Styling footer */
.footer {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color: white;
    position: relative;
}

.footer .logo-instansi {
    margin: 10px;
    width: 100px;
    height: 100px;
}

.footer .alamat {
    margin-left: 40px;
    display: flex;
    flex-direction: column;
}

.footer .alamat p {
    margin: 5px 0;
}

.footer .alamat img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.footer .tautan {
    margin-left: 90px;
    text-align: left;
}

.footer .tautan p {
    margin: 5px 0;
}

.footer .tautan a {
    color: white;
    text-decoration: none;
}

.sosmed {
    margin: 5px;
    text-align: right;
    right: 20px;
    bottom: 80px;
    position: absolute;
}

.sosmed p {
    font-weight: bold;
}

.sosmed a {
    display: inline-block;
    margin-right: 10px;
    /* Jarak antar logo */
}

.logo-sosmed {
    width: 30px;
    /* Ukuran logo IG dan TikTok */
    height: 30px;
}

.tautan-content {
    display: flex;
}

/* Media Query untuk tampilan mobile */
@media (max-width: 768px) {
    .info1 {
        flex-direction: column-reverse;
        /* Membuat gambar di atas teks */
        align-items: center;
        /* Membuat konten di dalamnya rata tengah */
    }

    .gambar-info1 {
        width: 100%;
        /* Gambar memenuhi lebar layar */
        margin-left: 0;
    }

    .text-info1 {
        margin-left: 10px;
        margin-right: 10px;
        text-align: center;
        /* Rata tengah untuk teks */
    }

    .info3 {
        flex-direction: column;
        /* Mengubah arah flex menjadi column pada layar kecil */
        align-items: center;
        /* Membuat konten di dalamnya rata tengah */
    }

    .gambar-info3 {
        width: 100%;
        /* Gambar memenuhi lebar layar */
        margin-right: 0;
    }

    .text-info3 {
        margin-left: 10px;
        margin-right: 10px;
        text-align: center;
        /* Rata tengah untuk teks */
    }

    /* Footer */
    .footer {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer .logo-instansi {
        width: 80px;
        height: 80px;
    }

    .footer .alamat,
    .footer .tautan,
    .footer .sosmed {
        margin-left: 0;
    }

    .footer .alamat,
    .footer .tautan {
        margin-bottom: 20px;
    }

    .sosmed {
        right: auto;
        bottom: auto;
        position: static;
    }
}